$color-primary: #FF9800;
$color-secondary: #29B6F6;
$color-handcash: #38CB7C;
$color-secondary-dark: #039BE5;
$color-white:    #fff;
$color-dark: #212121;
$color-black: #111111;
$color-success: #28A745;
$color-danger: #F21313;

$color-gray-100: #F5F5F5;
$color-gray-300: #E0E0E0;
$color-gray-500: #9E9E9E;
$color-gray-700: #616161;
$color-gray-900: #212121;


