/* .place-photos{
  width: 100%;
  height: 100%;
  .place_name{
    cursor: pointer;
  }
  .place-actions{
    margin-left: 20px;
    button.btn{
      color: $primary;
      font-size: 24px;
      padding: 0;
      position: relative;
      width: 60px;
      min-width: unset;
      &:focus{
        box-shadow: none;
      }
      .favorite-tooltip, .link-tooltip{
        opacity: 0;
        position: absolute;
        top: -140%;
        left: -287%;
        min-width: 150px;
        padding: 7px 5px;
        background: $dark;
        font-size: 16px;
        color: $white;
        border-radius: 8px;
        transition: opacity ease-in-out 200ms;
        &:after{
          content: "";
          display: block;
          position: absolute;
          top: 31px;
          left: 44%;
          width: 30px;
          height: 35px;
          background: $dark;
          -webkit-clip-path: polygon(50% 42%, 0 0, 100% 0);
          clip-path: polygon(50% 42%, 0 0, 100% 0);
        }
      }
      .link-tooltip{
        min-width: 80px;
        width: 95px;
        left: -133%;
        &:after{
          left: 35%;
        }
      }
    }
    button.btn:hover{
      .favorite-tooltip, .link-tooltip{
        opacity: 1;
      }
    }
    .favorite{
      margin-right: 15px;
    }
  }
  .main-rating-con{
    img{
      margin: 0 5px 15px 0;
      width: 34px;
      height: 34px;
    }
    .main-rating{
      display: inline-block;
      font-size: 24px;
      font-weight: bold;
      span.reviews-count{
        color: $gray-500;
        font-weight: bold;
      }
    }
  }
  ul.rating-details{
    list-style: none;
    margin: 0;
    padding: 0;
    color: $gray-700;
    font-weight: bold;
    li{
      margin: 0 15px 0 0 ;
      padding: 0;
      float: left;
      img{
        margin-bottom: 3px;
      }
    }
  }
  ul.features{
    list-style: none;
    margin: 25px 0 0 0;
    padding: 0;
    li{
      margin: 0 15px 0 0 ;
      padding: 0;
      float: left;
      color: $gray-600;
      img{
        margin-bottom: 3px;
      }
    }
    li.divider{
      height: 20px;
      border-left: solid 1px $gray-500;
    }
  }
  .write-review{
    font-size: 24px;
    font-weight: bold;
    margin-top: 35px;
    padding: 12px 15px;
    height: 62px;
  }
  .back-btn{
    font-weight: bold;
    margin-top: 35px;
    padding: 8px 15px;
    .icon{
      padding-right: 10px;
      font-size: 18px;
    }
  }
  .photos{
    margin-top: 35px;
    .photo{
      width: 100%;
      height: 100%;
      padding-bottom: 30px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: 250px;
      }
    }
  }
  .load-more{
    margin: 40px 0;
    text-align: center;
    font-weight: bold;
  }
} */

/* .custom-tooltip .custom-tooltip-text{
  visibility: hidden;
  width: 200px;
  background-color: black;
  opacity: 0.7;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  font-size: 14px;
  padding: 8px;
}
.custom-tooltip:hover .custom-tooltip-text{
  visibility: visible;
} */