.recent-activity {
    position: relative;
    background: $color-gray-300;
    &__separator {
        width: 100%;
        position: absolute;
        text-align: center;
        top: -28px;
    }
    &__content {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    &__title {
        text-align: center;
        margin-bottom: 1.5rem;
        @include media-breakpoint-down(sm) {
            font-size: 1.5rem;
        }
    }
    &__show-more {
        display: inline-block;
        text-align: center;
    }
}