.search-place-form {
    &__select {
        .form-control {
            border-radius: 0.25rem 0 0 0.25rem;
            width: 100%;
            @include media-breakpoint-down(sm) {
                width: 110px;
            }
        }
    }
    &__input {
        .input-group {
            .input-group-prepend {
                .input-group-text {
                    background: transparent;
                    border-radius: 0;
                    border-left: none;
                    border-right: none;
                    padding-right: 0;
                    font-weight: bold;
                }
            }
            .form-control {
                border-radius: 0;
                border-left: none;
                border-right: none;
            }
        }
    }
    &__button {
        .btn {
            border-radius: 0 0.25rem 0.25rem 0;
            border: 1px solid $color-gray-300;
        }
    }
}

.pac-container {
    z-index: 2000 !important;
}

.search-place-form-header {
    .search-place-form__input {
        .input-group {
          height: 100%;
        }
        .form-control {
          height: 100%;
          padding-left: 1rem;
          border: 1px solid $color-gray-300 !important;
          border-right: none !important;
          border-radius: 0.25rem 0 0 0.25rem !important;
        }
      }
      .search-place-form__button {
        pointer-events: none;
        .header-search__button {
          align-items: center;
          display: flex;
          height: 100%;
          border: 1px solid $color-gray-300;
          border-left: none;
          color: $color-gray-300;
        }
      }
}