.header{
  background-size: cover;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("~@/assets/images/header-background.jpg");
  background-size:cover;
  padding: 1rem 0 8rem 0;
  .search-form{
    margin-bottom: 50px;
    input{
      min-height: 60px;
      border-radius: 10px;
      padding: 0px 70px;
      border-color: transparent;
      background-color: $color-white;
      &::placeholder{
        font-size: 22px;
        @media only screen and (max-width: 767px) {
          font-size: 16px;
        }
      }
      &:focus{
        box-shadow: none;
      }
      @media only screen and (max-width: 767px) {
        font-weight:400 ;
        font-size: 16px;
        padding: 0 15px 0 60px;
      }
    }
    .search-text{
      position: absolute;
      top: 0.8rem;
      left: 1.5rem;
      font-size: 22px;
      @media only screen and (max-width: 767px) {
        top: 1.2rem;
        font-size: 16px;
      }
    }
    .search-input{
      input{
        border-right: solid 1px $color-gray-500;
      }
      .help-text{
        max-width: 60%;
        height: 70px;
        margin: 15px 0;
        padding: 10px 5px;
        background-color: transparentize($color-primary, 0.1);
        color: $color-white;
        font-weight: 600;
        text-align: center;
        position: relative;
        border-radius: 10px;
        &::after{
          position: absolute;
          content: "";
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          background-color: transparentize($color-primary, 0.1);
          width: 38px;
          height: 17px;
          top: -24%;
          left: 44%;
        }
        @media only screen and (max-width: 575px) {
          max-width: 100%;
          font-size: 14px;
          height: 100px;
        }
        @media only screen and (min-width: 576px) and (max-width: 767px) {
          max-width: 100%;
          font-size: 14px;
        }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          max-width: 100%;
          font-size: 14px;
        }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          max-width: 100%;
          font-size: 14px;
        }
      }
    }
    .right-input{
      .right-text{
        top: 0.7rem;
        left: 1.1rem;
        @media only screen and (max-width: 767px) {
          top: 1.2rem;
          font-size: 16px;
        }
      }
      input{
        border-left: none;
        border-radius: 0;
        background-color: $color-white;
        &::placeholder{
          color: $color-secondary;
          font-weight: bold;
        }
      }
      .search-icon{
        right: -7px;
        top: 0px;
        position: absolute;
        width: 20%;
        height: 59px;
        background: $color-primary;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        text-align: center;
        img{
          position: relative;
          top: 12px;
          @media only screen and (max-width: 991px) {
            top: 16px;
          }
        }
      }
    }
  }
  &__buttons {
    &-write {
      @include media-breakpoint-up(sm) {}
    }
    &-session {
      margin-bottom: 1rem;
      text-align: right;
      .btn {
        margin: 0 1rem;
        &:last-child {
          margin: 0 0 0 0.5rem;
        }
        &:first-child {
          margin: 0 0.5rem 0 0;
        }
      }
      @include media-breakpoint-down(sm) {
        .btn {
          margin: 0 1rem 0.5rem;
          &:last-child {
            margin: 0 0 0.5rem 1rem;
          }
          &:first-child {
            margin: 0 0 0.5rem 0;
          }
        }
      }
    }
    .btn-outline-primary {
      color: $color-white;
    }
  }
  &__britevue-logo {
    padding-top: 5rem;
    .logo {
      img {
        width: 100%;
        max-width: 190px;
        @include media-breakpoint-up(sm) {
          width: 300px;
          max-width: 300px;
        }
      }
    }
  }
  &__search {
    .input-group {
      height: 4rem;
      position: relative;
      @include media-breakpoint-down(sm) {
        height: 2.5rem;
      }
      .input-group-prepend {
        .input-group-text {
          font-size: 1.5rem;
          background: $color-white;
          border-right: none;
          color: $color-gray-900;
          border-radius: 0.25rem 0 0 0.25rem;
          padding-right: 0;
          @include media-breakpoint-down(sm) {
            font-size: 1rem;
          }
        }
      }
      .form-control {
        height: 100%;
        font-size: 1.5rem;
        border-left: none;
        color: $color-gray-500;
        border-radius: 0 0.25rem 0.25rem 0 !important;
        @include media-breakpoint-down(sm) {
          font-size: 1rem;
        }
      }
      position: relative;
      &::after {
        font-family: "Font Awesome 5 Pro"; font-weight: 400; content: "\f002";
        position: absolute;
        right: 0.75rem;
        top: 0.85rem;
        display: block;
        z-index: 9;
        color: $color-gray-500;
        font-size: 1.5rem;
        @include media-breakpoint-down(sm) {
          top: 0.55rem;
          font-size: 1rem;
        }
      }
    }
    &-tooltip {
      max-width: 280px;
      background: rgba($color-primary, 0.85);
      position: relative;
      padding: 0.75rem;
      border-radius: 0.25rem;
      color: $color-white;
      line-height: 1.25;
      position: absolute;
      top: calc(100% + 0.25rem);
      &::before {
        content: "";
        position: absolute;
        top: -16px;
        width: 0; 
        height: 0;
        left: calc(50% - 16px);
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-bottom: 16px solid rgba($color-primary, 0.85);
        margin: 0 auto;
      }
    }
  }
  .header-text{
    font-family: Montserrat;
    font-weight: bold;
    padding-top: 2.5rem;
    margin-bottom: 3rem;
  }
}
